{% extends 'base.html.twig' %}

{% block title %}New Commerce{% endblock %}

{% block body %}
    <h1>Create new Commerce</h1>

    {{ include('commerce/_form.html.twig') }}

    <a href="{{ path('commerce_index') }}">back to list</a>
{% endblock %}
